@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    /* Applications color */
    --primary-color: #124702;
    --primary-color-light: #185c03;
    --primary-color-dark: #0e3602;
    --secondary-color: #91C208;
    --secondary-color-light:rgb(161, 216, 11);
    --secondary-color: #82ad09;
    --icon-con-color: #D3EA93;
    --bg-color: #F7F7F8;
    --bg-color-contrast: #dededf;
    --border-color: #ececec;
    --text-color: #656567;
    --text-color-contrast: #98989A;
    --color-white: #ffffff ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    background: var(--bg-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.btn{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}
.btn-main{
    background: var(--primary-color);
    color: var(--color-white);
    transition: 0.4s ease-in;
}
.btn-main:hover{
    background: var(--primary-color-light);
}
.btn-light{
    background: var(--bg-color-contrast);
    color: var(--text-color);
    transition: 0.4s ease-in;
}
.btn-light:hover{
    color: var(--color-white);
    background: var(--secondary-color);
}
.btn-white{
    background: var(--color-white);
    color: var(--text-color);
    font-weight: 500;
    transition: 0.4s ease-in;
}
.active{
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--bg-color-contrast);
    color: var(--text-color);
}
.primary-text{
    color: var(--primary-color);
}
.text-sm{
    font-size: 13px;
}
.main-content{
    padding-inline: 5%;
}
.sub-header{
    font-size: 35px;
    font-family: 'poppins' !important;
}
.badge{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    width: fit-content;
}
/* homepage styles */
/* ========================================================================================================== */

/* header-section */
.header-section{
    width: 100%;
    padding: 10px 3%;
}
.header-section .topbar-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-block: 10px;
    background: var(--primary-color);
    border-radius: 8px;
}
.header-section .topbar-section a{
    color: var(--color-white);
    font-size: 14px;
}

/* nav-bar */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    border-bottom: 2px solid var(--border-color);
}
.nav-bar .nav-bar-nav{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.nav-bar .nav-bar-nav .nav-bar-logo{
    width: 95px;
    height: 60px;
    overflow: hidden;
}
.nav-bar .nav-bar-nav .nav-bar-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-bar .nav-bar-nav .nav-link{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}
.nav-bar .nav-bar-nav .nav-link .nav-link-item{
    padding-inline: 15px;
}
.nav-bar .nav-bar-nav .nav-link .nav-link-item a{
    font-weight: 500;
}
.nav-bar .nav-bar-nav .nav-link .nav-link-item a:hover{
    color: var(--primary-color);
    transition: 0.4s ease-in;
}
.nav-bar .nav-bar-btn a{ 
    padding-inline: 5px;
}
.nav-bar .nav-bar-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .nav-bar-btn .toggle-menu{
    width: 40px;
    height: 40px;
    display: none;
}
.nav-bar .nav-bar-btn .toggle-menu svg{
    width: 40px;
    cursor: pointer;
}

/* sidebar */
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 40;
    background: #00000073;
    right: -100%;
    transition: 0.6s ease-in;
    cursor: not-allowed;
}
.sidebar{
    position: fixed;
    width: 280px;
    height: 100vh;
    z-index: 50;
    background: black;
    top: 0;
    right: -280px;
    padding: 30px 20px;
    transition: 0.3s ease-in;
}
.sidebar-active{
    position: fixed;
    width: 280px;
    height: 100vh;
    z-index: 50;
    background: black;
    top: 0;
    right: 0px;
    padding: 30px 20px;
    transition: 0.5s ease-in;
    transition-delay: 0.3s;
}
.sidebar .sidebar-header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 60px;
}
.sidebar .sidebar-header .sidebar-logo{
    width: 95px;
    height: 60px;
    overflow: hidden;
}
.sidebar .sidebar-header .sidebar-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sidebar .sidebar-header .close-sidebar{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: var(--color-white);
    border-radius: 50%;
}
.sidebar .sidebar-body ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.sidebar .sidebar-body ul li{
    margin-block: 5px;
    padding-block: 5px;
    padding-inline: 5px;
    position: relative;
    border-radius: 8px;
    transition: 0.4s ease-in;
    cursor: pointer;
}
.sidebar .sidebar-body ul li .sub-menu-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
}
/* .sidebar .sidebar-body ul li:hover{
   background: var(--bg-color-contrast);
} */
.sidebar .sidebar-body ul li:hover > a{
    color: var(--primary-color);
    transition: 0.4s ease-in;
}
.sidebar .sidebar-body ul li a{
    color: var(--color-white);
    font-weight: 500;
}
.sub-menu{
    display: grid;
    position: relative;
    background: var(--bg-color);
    border-radius: 8px;
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease-in;
}
.sub-menu-active{
    display: grid;
    position: relative;
    background: var(--bg-color);
    border-radius: 8px;
    overflow: hidden;
    height: 120px;
    transition: height 0.4s ease-in;
}
.sub-menu ul{
    display: flex;
    flex-direction: column;
}
.sub-menu ul li{
    margin-left: 10px;
    margin-block: 0 !important;
}
.sub-menu ul li a{
    color: var(--primary-color) !important;
}

/* hero-section */
.hero-section{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.hero-section .hero-box{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 26px;
    background: var(--color-white);
    padding: 10px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
}
.hero-section .hero-box img{
    position: absolute;
    width: 30px;
    top: -20px;
    left: -20px;
}
.hero-section .hero-box .hero-icon{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    background: var(--icon-con-color);
    border-radius: 5px;
}
.hero-section h3{
    font-weight: 500;
    text-align: center;
}
.hero-section .hero-btn{
    margin-top: 45px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo section */
.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background: var(--color-white);
    border-radius: 8px;
}
.logo-section .logo-box{
    display: grid;
    place-items: center;
    overflow: hidden;
    height: 65px;
    width: 190px;
}
.logo-section .logo-box img{
    min-width: 50%;
    max-width: 50px;
    /* height: 100%; */
    object-fit: cover;
}

/* video-section */
.video-section{
    border-radius: 10px;
    /* height: 60%;
    width: 100%; */
    aspect-ratio: 16/8;
    overflow: hidden;
    margin-block: 80px;
    background: linear-gradient(0deg, #60fb7780, #60fb773b), url('assets/image/Container.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}
.video-section .play-vid-icon::before{
    content: "";
    width: 85px;
    height: 85px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-section .play-vid-icon{
    width: 75px;
    height: 75px;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.video-section .play-vid-icon svg{
    width: 40px;
    color: var(--color-white);
}

/* benefit section */
.benefit-section{
    margin-block: 80px;
}
.benefit-section .benefit-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.benefit-section .benefit-header .benefit-text{
    width: 70%;
    font-family: 'poppins';
}
.benefit-section .benefit-boxes{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.benefit-section .benefit-boxes .benefit-box{
    background: var(--color-white);
    padding: 25px;
    border-radius: 8px;
    position: relative;
}
.benefit-section .benefit-boxes .benefit-box h1{
    text-align: right;
    font-size: 60px;
    font-weight: 600;
}
.benefit-section .benefit-boxes .benefit-box h5{
    text-align: left;
    font-size: 18px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 8px;
}
.benefit-section .benefit-boxes .benefit-box p{
    color: var(--text-color);
    line-height: 15px;
    margin-bottom: 15px;
}
.benefit-section .benefit-boxes .benefit-box .benefit-footer .benefit-icon{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    position: relative;
    display: grid;
    place-items: center;
    color: var(--primary-color);
}
.benefit-footer {
    display: flex;
    align-items: center;
    justify-content: end;
}

/* course-section */
.course-section{
    margin-block: 80px;
}
.course-section .course-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.course-section .course-header .course-text{
    width: 70%;
}
.course-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.course-card{
    background: var(--color-white);
    padding: 30px;
    display: flex;
    align-items: start;
    flex-direction: column;
    border-radius: 10px;
}
.course-card .course-img{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 250px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
.course-card .course-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.course-card .course-info-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.course-card .course-info-head .course-badge{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-card .course-info-head p{
    font-weight: 500;
}
.course-card .course-info-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 25px;
}
.course-card .course-info-body h2{
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1;
    color: black;
}
.course-card .course-info-body p{
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.5;
}
.course-card .course-info-btn{
    width: 100%;
}
